# Python 3.12
jupyter
scikit-learn
jax[cuda13]
jaxtyping
wandb
datasets
evaluate
scikit-learn
tqdm
cupy-cuda12x
-e git+https://github.com/huggingface/transformers.git#egg=transformers
-e git+https://github.com/brseong/spikingjelly.git#egg=spikingjelly